// Place all the styles related to the Posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
#new_post {
  margin-left: 10%;
  margin-right: 20%;
  width: 70%;
  //border-bottom: 1px solid #BBBBBB;
  text-align: center;
}

.post {
  margin-left: 10%;
  margin-right: 20%;
  border-bottom: 1px solid #BBBBBB;
  //padding-top: 1em;
  //padding-bottom: 1em;

  overflow: auto;
  min-height: 5em;
  font-family: sans-serif;
  h3 {
	font-size: 120%;
	margin-top: 0;
  }
  p {
	//margin-top: 0.5em;
  }
  .post_detail {
	font-size: x-small;
	color: #666666;
  }
  .post_content {
  }
  .post_CRUD {
	margin-bottom: .5em;
	float: right;
  }
  form {
  }
}
*/